/* src/Login.css */

.login-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  }
  .mai{
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 30%;
    flex-direction: column;
    gap: 15px;
  }
  .login-form {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form input {
    width: 92%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  #log{
    padding: 0px 10px;
  }
  .fb-icon,#log{
    color: #007bff;
  }
  .forgo{
    text-decoration: none;
  }
  .sign{
    color: #007bff;
    text-decoration: none;
    padding: 0px 10px;
  }
  #verify,#verif{
    color: red;
    font-size: 10px;
  }